/*------------------------
	icons
-------------------------*/
@icon-24h: "\ea02";
@icon-add-list: "\ea03";
@icon-aircon: "\ea04";
@icon-angle-down-small: "\ea05";
@icon-angle-down: "\ea06";
@icon-activity: "\ea07";
@icon-angle-left: "\ea08";
@icon-angle-right-small: "\ea09";
@icon-angle-left-small: "\ea0a";
@icon-angle-up-small: "\ea0b";
@icon-accessibility: "\ea0c";
@icon-arrow-down-left: "\ea0d";
@icon-angle-up: "\ea0e";
@icon-angle-right: "\ea0f";
@icon-arrow-down: "\ea10";
@icon-account: "\ea11";
@icon-arrow-right: "\ea12";
@icon-arrow-up-long: "\ea13";
@icon-arrow-down-right: "\ea14";
@icon-arrow-up: "\ea15";
@icon-arrows-alt: "\ea16";
@icon-arrow-up-right: "\ea17";
@icon-arrows-expand: "\ea18";
@icon-arrow-left: "\ea19";
@icon-arrow-left-long: "\ea1a";
@icon-arrow-right-long: "\ea1b";
@icon-arrow-up-left: "\ea1c";
@icon-arrow-down-long: "\ea1d";
@icon-arrows-compress: "\ea1e";
@icon-arrows: "\ea1f";
@icon-articles: "\ea20";
@icon-arrows-reverse: "\ea21";
@icon-baby: "\ea22";
@icon-bar: "\ea23";
@icon-basket: "\ea24";
@icon-attachment: "\ea25";
@icon-arrows-v: "\ea26";
@icon-bookmark: "\ea27";
@icon-bubble-o: "\ea28";
@icon-beach: "\ea29";
@icon-building: "\ea2a";
@icon-bookmark-o: "\ea2b";
@icon-arrows-h: "\ea2c";
@icon-cadet-down-circle: "\ea2d";
@icon-bubble: "\ea2e";
@icon-cadet-down-square-o: "\ea2f";
@icon-bus: "\ea30";
@icon-cadet-down: "\ea31";
@icon-cadet-down-small: "\ea32";
@icon-cadet-down-circle-o: "\ea33";
@icon-cadet-up-small: "\ea34";
@icon-cadet-up-square-o: "\ea35";
@icon-cadet-up-square: "\ea36";
@icon-cadet-up: "\ea37";
@icon-cafe: "\ea38";
@icon-cadet-up-circle-o: "\ea39";
@icon-calendar-del: "\ea3a";
@icon-calendar-list: "\ea3b";
@icon-calendar-min: "\ea3c";
@icon-calendar-plus: "\ea3d";
@icon-calendar: "\ea3e";
@icon-call-off: "\ea3f";
@icon-call: "\ea40";
@icon-camera-o: "\ea41";
@icon-camera: "\ea42";
@icon-card-amex: "\ea43";
@icon-card-mastercard: "\ea44";
@icon-card-paypal: "\ea45";
@icon-card-visa: "\ea46";
@icon-card: "\ea47";
@icon-cart-o: "\ea48";
@icon-cart: "\ea49";
@icon-chart: "\ea4a";
@icon-check-circle-o: "\ea4b";
@icon-check-circle: "\ea4c";
@icon-check-small: "\ea4d";
@icon-check-square-o: "\ea4e";
@icon-check-square: "\ea4f";
@icon-check: "\ea50";
@icon-calendar-check: "\ea51";
@icon-close-circle-o: "\ea52";
@icon-close-circle: "\ea53";
@icon-close-small: "\ea54";
@icon-close-square-o: "\ea55";
@icon-close-square: "\ea56";
@icon-close: "\ea57";
@icon-checkbox: "\ea58";
@icon-cloud-down: "\ea59";
@icon-cloud-up-o: "\ea5a";
@icon-cloud-up: "\ea5b";
@icon-cloud-down-o: "\ea5c";
@icon-comment-o: "\ea5d";
@icon-cadet-up-circle: "\ea5e";
@icon-community: "\ea5f";
@icon-compress: "\ea60";
@icon-conversation-o: "\ea61";
@icon-conversation: "\ea62";
@icon-copy: "\ea63";
@icon-delete-o: "\ea64";
@icon-delete: "\ea65";
@icon-direction: "\ea66";
@icon-discover: "\ea67";
@icon-dollar: "\ea68";
@icon-download: "\ea69";
@icon-edit-o: "\ea6a";
@icon-edit: "\ea6b";
@icon-ellipsis-h: "\ea6c";
@icon-ellipsis-v: "\ea6d";
@icon-error-o: "\ea6e";
@icon-error: "\ea6f";
@icon-events: "\ea70";
@icon-expand: "\ea71";
@icon-external: "\ea72";
@icon-eye-o-off: "\ea73";
@icon-eye-o: "\ea74";
@icon-eye-off: "\ea75";
@icon-eye: "\ea76";
@icon-facebook-square: "\ea77";
@icon-facebook: "\ea78";
@icon-file: "\ea79";
@icon-filter: "\ea7a";
@icon-fire: "\ea7b";
@icon-flag-o: "\ea7c";
@icon-flag: "\ea7d";
@icon-flight-arrival: "\ea7e";
@icon-flight-departure: "\ea7f";
@icon-flight: "\ea80";
@icon-food: "\ea81";
@icon-forward: "\ea82";
@icon-funnel: "\ea83";
@icon-gift: "\ea84";
@icon-globe: "\ea85";
@icon-google-play: "\ea86";
@icon-google-plus: "\ea87";
@icon-google: "\ea88";
@icon-gps-none: "\ea89";
@icon-gps-off: "\ea8a";
@icon-gps: "\ea8b";
@icon-grid: "\ea8c";
@icon-guarantee: "\ea8d";
@icon-gym: "\ea8e";
@icon-heart-o: "\ea8f";
@icon-heart: "\ea90";
@icon-help-o: "\ea91";
@icon-help: "\ea92";
@icon-home-o: "\ea93";
@icon-home: "\ea94";
@icon-hotel: "\ea95";
@icon-image-library-o: "\ea96";
@icon-image-library: "\ea97";
@icon-image-o: "\ea98";
@icon-image: "\ea99";
@icon-inbox: "\ea9a";
@icon-info-o: "\ea9b";
@icon-info: "\ea9c";
@icon-instagram: "\ea9d";
@icon-laundry: "\ea9e";
@icon-link: "\ea9f";
@icon-linkedin-square: "\eaa0";
@icon-linkedin: "\eaa1";
@icon-list-circle: "\eaa2";
@icon-list-square: "\eaa3";
@icon-list: "\eaa4";
@icon-location: "\eaa5";
@icon-locked-o: "\eaa6";
@icon-locked: "\eaa7";
@icon-login: "\eaa8";
@icon-logout: "\eaa9";
@icon-mail-o: "\eaaa";
@icon-mail-open-o: "\eaab";
@icon-mail-open: "\eaac";
@icon-mail: "\eaad";
@icon-comment: "\eaae";
@icon-map: "\eaaf";
@icon-menu: "\eab0";
@icon-cadet-down-square: "\eab1";
@icon-message: "\eab2";
@icon-code: "\eab3";
@icon-minus-circle-o: "\eab4";
@icon-minus-circle: "\eab5";
@icon-minus-small: "\eab6";
@icon-message-o: "\eab7";
@icon-map-o: "\eab8";
@icon-minus: "\eab9";
@icon-navigation-45: "\eaba";
@icon-minus-square: "\eabb";
@icon-note: "\eabc";
@icon-minus-square-o: "\eabd";
@icon-notification-off-o: "\eabe";
@icon-notification-off: "\eabf";
@icon-notification: "\eac0";
@icon-navigation-90: "\eac1";
@icon-pinpoint: "\eac2";
@icon-pinterest-circle: "\eac3";
@icon-pinterest: "\eac4";
@icon-places: "\eac5";
@icon-plus-circle-o: "\eac6";
@icon-plus-circle: "\eac7";
@icon-plus-small: "\eac8";
@icon-plus-square-o: "\eac9";
@icon-plus-square: "\eaca";
@icon-plus: "\eacb";
@icon-pool: "\eacc";
@icon-price-tag: "\eacd";
@icon-price-tags: "\eace";
@icon-print: "\eacf";
@icon-receipt: "\ead0";
@icon-recycle: "\ead1";
@icon-refresh: "\ead2";
@icon-renew: "\ead3";
@icon-reply-all: "\ead4";
@icon-reply: "\ead5";
@icon-save: "\ead6";
@icon-search: "\ead7";
@icon-selected: "\ead8";
@icon-send: "\ead9";
@icon-setting: "\eada";
@icon-share-o: "\eadb";
@icon-share: "\eadc";
@icon-shield-o: "\eadd";
@icon-shield: "\eade";
@icon-ship: "\eadf";
@icon-shop: "\eae0";
@icon-shopping: "\eae1";
@icon-shortlists: "\eae2";
@icon-sort-down: "\eae3";
@icon-sort-up: "\eae4";
@icon-spa: "\eae5";
@icon-spinner-1: "\eae6";
@icon-spinner-2: "\eae7";
@icon-spinner-3: "\eae8";
@icon-star-o: "\eae9";
@icon-star-rating-empty: "\eaea";
@icon-star-rating-filled: "\eaeb";
@icon-star-rating-half: "\eaec";
@icon-star: "\eaed";
@icon-stop: "\eaee";
@icon-sun: "\eaef";
@icon-sync: "\eaf0";
@icon-taxi: "\eaf1";
@icon-tbb: "\eaf2";
@icon-time-o: "\eaf3";
@icon-time: "\eaf4";
@icon-timer-o: "\eaf5";
@icon-timer: "\eaf6";
@icon-tool: "\eaf7";
@icon-transport: "\eaf8";
@icon-travlr: "\eaf9";
@icon-trend-down: "\eafa";
@icon-trend-flat: "\eafb";
@icon-trend-up: "\eafc";
@icon-trip-add: "\eafd";
@icon-trip: "\eafe";
@icon-trophy: "\eaff";
@icon-tv: "\eb00";
@icon-twitter: "\eb01";
@icon-unlocked-o: "\eb02";
@icon-unlocked: "\eb03";
@icon-unselected: "\eb04";
@icon-upload: "\eb05";
@icon-user-add-o: "\eb06";
@icon-user-add: "\eb07";
@icon-user-group-o: "\eb08";
@icon-user-group: "\eb09";
@icon-user-o: "\eb0a";
@icon-user: "\eb0b";
@icon-voucher: "\eb0c";
@icon-wedding: "\eb0d";
@icon-whatsapp: "\eb0e";
@icon-wifi: "\eb0f";
@icon-youtube: "\eb10";
@icon-zoom-in: "\eb11";
@icon-zoom-out: "\eb12";
@icon-messenger: "\eb13";
@icon-park: "\eb14";
@icon-notification-o: "\eb15";

.icon-24h::before {
  content: @icon-24h;
}

.icon-add-list::before {
  content: @icon-add-list;
}

.icon-aircon::before {
  content: @icon-aircon;
}

.icon-angle-down-small::before {
  content: @icon-angle-down-small;
}

.icon-angle-down::before {
  content: @icon-angle-down;
}

.icon-activity::before {
  content: @icon-activity;
}

.icon-angle-left::before {
  content: @icon-angle-left;
}

.icon-angle-right-small::before {
  content: @icon-angle-right-small;
}

.icon-angle-left-small::before {
  content: @icon-angle-left-small;
}

.icon-angle-up-small::before {
  content: @icon-angle-up-small;
}

.icon-accessibility::before {
  content: @icon-accessibility;
}

.icon-arrow-down-left::before {
  content: @icon-arrow-down-left;
}

.icon-angle-up::before {
  content: @icon-angle-up;
}

.icon-angle-right::before {
  content: @icon-angle-right;
}

.icon-arrow-down::before {
  content: @icon-arrow-down;
}

.icon-account::before {
  content: @icon-account;
}

.icon-arrow-right::before {
  content: @icon-arrow-right;
}

.icon-arrow-up-long::before {
  content: @icon-arrow-up-long;
}

.icon-arrow-down-right::before {
  content: @icon-arrow-down-right;
}

.icon-arrow-up::before {
  content: @icon-arrow-up;
}

.icon-arrows-alt::before {
  content: @icon-arrows-alt;
}

.icon-arrow-up-right::before {
  content: @icon-arrow-up-right;
}

.icon-arrows-expand::before {
  content: @icon-arrows-expand;
}

.icon-arrow-left::before {
  content: @icon-arrow-left;
}

.icon-arrow-left-long::before {
  content: @icon-arrow-left-long;
}

.icon-arrow-right-long::before {
  content: @icon-arrow-right-long;
}

.icon-arrow-up-left::before {
  content: @icon-arrow-up-left;
}

.icon-arrow-down-long::before {
  content: @icon-arrow-down-long;
}

.icon-arrows-compress::before {
  content: @icon-arrows-compress;
}

.icon-arrows::before {
  content: @icon-arrows;
}

.icon-articles::before {
  content: @icon-articles;
}

.icon-arrows-reverse::before {
  content: @icon-arrows-reverse;
}

.icon-baby::before {
  content: @icon-baby;
}

.icon-bar::before {
  content: @icon-bar;
}

.icon-basket::before {
  content: @icon-basket;
}

.icon-attachment::before {
  content: @icon-attachment;
}

.icon-arrows-v::before {
  content: @icon-arrows-v;
}

.icon-bookmark::before {
  content: @icon-bookmark;
}

.icon-bubble-o::before {
  content: @icon-bubble-o;
}

.icon-beach::before {
  content: @icon-beach;
}

.icon-building::before {
  content: @icon-building;
}

.icon-bookmark-o::before {
  content: @icon-bookmark-o;
}

.icon-arrows-h::before {
  content: @icon-arrows-h;
}

.icon-cadet-down-circle::before {
  content: @icon-cadet-down-circle;
}

.icon-bubble::before {
  content: @icon-bubble;
}

.icon-cadet-down-square-o::before {
  content: @icon-cadet-down-square-o;
}

.icon-bus::before {
  content: @icon-bus;
}

.icon-cadet-down::before {
  content: @icon-cadet-down;
}

.icon-cadet-down-small::before {
  content: @icon-cadet-down-small;
}

.icon-cadet-down-circle-o::before {
  content: @icon-cadet-down-circle-o;
}

.icon-cadet-up-small::before {
  content: @icon-cadet-up-small;
}

.icon-cadet-up-square-o::before {
  content: @icon-cadet-up-square-o;
}

.icon-cadet-up-square::before {
  content: @icon-cadet-up-square;
}

.icon-cadet-up::before {
  content: @icon-cadet-up;
}

.icon-cafe::before {
  content: @icon-cafe;
}

.icon-cadet-up-circle-o::before {
  content: @icon-cadet-up-circle-o;
}

.icon-calendar-del::before {
  content: @icon-calendar-del;
}

.icon-calendar-list::before {
  content: @icon-calendar-list;
}

.icon-calendar-min::before {
  content: @icon-calendar-min;
}

.icon-calendar-plus::before {
  content: @icon-calendar-plus;
}

.icon-calendar::before {
  content: @icon-calendar;
}

.icon-call-off::before {
  content: @icon-call-off;
}

.icon-call::before {
  content: @icon-call;
}

.icon-camera-o::before {
  content: @icon-camera-o;
}

.icon-camera::before {
  content: @icon-camera;
}

.icon-card-amex::before {
  content: @icon-card-amex;
}

.icon-card-mastercard::before {
  content: @icon-card-mastercard;
}

.icon-card-paypal::before {
  content: @icon-card-paypal;
}

.icon-card-visa::before {
  content: @icon-card-visa;
}

.icon-card::before {
  content: @icon-card;
}

.icon-cart-o::before {
  content: @icon-cart-o;
}

.icon-cart::before {
  content: @icon-cart;
}

.icon-chart::before {
  content: @icon-chart;
}

.icon-check-circle-o::before {
  content: @icon-check-circle-o;
}

.icon-check-circle::before {
  content: @icon-check-circle;
}

.icon-check-small::before {
  content: @icon-check-small;
}

.icon-check-square-o::before {
  content: @icon-check-square-o;
}

.icon-check-square::before {
  content: @icon-check-square;
}

.icon-check::before {
  content: @icon-check;
}

.icon-calendar-check::before {
  content: @icon-calendar-check;
}

.icon-close-circle-o::before {
  content: @icon-close-circle-o;
}

.icon-close-circle::before {
  content: @icon-close-circle;
}

.icon-close-small::before {
  content: @icon-close-small;
}

.icon-close-square-o::before {
  content: @icon-close-square-o;
}

.icon-close-square::before {
  content: @icon-close-square;
}

.icon-close::before {
  content: @icon-close;
}

.icon-checkbox::before {
  content: @icon-checkbox;
}

.icon-cloud-down::before {
  content: @icon-cloud-down;
}

.icon-cloud-up-o::before {
  content: @icon-cloud-up-o;
}

.icon-cloud-up::before {
  content: @icon-cloud-up;
}

.icon-cloud-down-o::before {
  content: @icon-cloud-down-o;
}

.icon-comment-o::before {
  content: @icon-comment-o;
}

.icon-cadet-up-circle::before {
  content: @icon-cadet-up-circle;
}

.icon-community::before {
  content: @icon-community;
}

.icon-compress::before {
  content: @icon-compress;
}

.icon-conversation-o::before {
  content: @icon-conversation-o;
}

.icon-conversation::before {
  content: @icon-conversation;
}

.icon-copy::before {
  content: @icon-copy;
}

.icon-delete-o::before {
  content: @icon-delete-o;
}

.icon-delete::before {
  content: @icon-delete;
}

.icon-direction::before {
  content: @icon-direction;
}

.icon-discover::before {
  content: @icon-discover;
}

.icon-dollar::before {
  content: @icon-dollar;
}

.icon-download::before {
  content: @icon-download;
}

.icon-edit-o::before {
  content: @icon-edit-o;
}

.icon-edit::before {
  content: @icon-edit;
}

.icon-ellipsis-h::before {
  content: @icon-ellipsis-h;
}

.icon-ellipsis-v::before {
  content: @icon-ellipsis-v;
}

.icon-error-o::before {
  content: @icon-error-o;
}

.icon-error::before {
  content: @icon-error;
}

.icon-events::before {
  content: @icon-events;
}

.icon-expand::before {
  content: @icon-expand;
}

.icon-external::before {
  content: @icon-external;
}

.icon-eye-o-off::before {
  content: @icon-eye-o-off;
}

.icon-eye-o::before {
  content: @icon-eye-o;
}

.icon-eye-off::before {
  content: @icon-eye-off;
}

.icon-eye::before {
  content: @icon-eye;
}

.icon-facebook-square::before {
  content: @icon-facebook-square;
}

.icon-facebook::before {
  content: @icon-facebook;
}

.icon-file::before {
  content: @icon-file;
}

.icon-filter::before {
  content: @icon-filter;
}

.icon-fire::before {
  content: @icon-fire;
}

.icon-flag-o::before {
  content: @icon-flag-o;
}

.icon-flag::before {
  content: @icon-flag;
}

.icon-flight-arrival::before {
  content: @icon-flight-arrival;
}

.icon-flight-departure::before {
  content: @icon-flight-departure;
}

.icon-flight::before {
  content: @icon-flight;
}

.icon-food::before {
  content: @icon-food;
}

.icon-forward::before {
  content: @icon-forward;
}

.icon-funnel::before {
  content: @icon-funnel;
}

.icon-gift::before {
  content: @icon-gift;
}

.icon-globe::before {
  content: @icon-globe;
}

.icon-google-play::before {
  content: @icon-google-play;
}

.icon-google-plus::before {
  content: @icon-google-plus;
}

.icon-google::before {
  content: @icon-google;
}

.icon-gps-none::before {
  content: @icon-gps-none;
}

.icon-gps-off::before {
  content: @icon-gps-off;
}

.icon-gps::before {
  content: @icon-gps;
}

.icon-grid::before {
  content: @icon-grid;
}

.icon-guarantee::before {
  content: @icon-guarantee;
}

.icon-gym::before {
  content: @icon-gym;
}

.icon-heart-o::before {
  content: @icon-heart-o;
}

.icon-heart::before {
  content: @icon-heart;
}

.icon-help-o::before {
  content: @icon-help-o;
}

.icon-help::before {
  content: @icon-help;
}

.icon-home-o::before {
  content: @icon-home-o;
}

.icon-home::before {
  content: @icon-home;
}

.icon-hotel::before {
  content: @icon-hotel;
}

.icon-image-library-o::before {
  content: @icon-image-library-o;
}

.icon-image-library::before {
  content: @icon-image-library;
}

.icon-image-o::before {
  content: @icon-image-o;
}

.icon-image::before {
  content: @icon-image;
}

.icon-inbox::before {
  content: @icon-inbox;
}

.icon-info-o::before {
  content: @icon-info-o;
}

.icon-info::before {
  content: @icon-info;
}

.icon-instagram::before {
  content: @icon-instagram;
}

.icon-laundry::before {
  content: @icon-laundry;
}

.icon-link::before {
  content: @icon-link;
}

.icon-linkedin-square::before {
  content: @icon-linkedin-square;
}

.icon-linkedin::before {
  content: @icon-linkedin;
}

.icon-list-circle::before {
  content: @icon-list-circle;
}

.icon-list-square::before {
  content: @icon-list-square;
}

.icon-list::before {
  content: @icon-list;
}

.icon-location::before {
  content: @icon-location;
}

.icon-locked-o::before {
  content: @icon-locked-o;
}

.icon-locked::before {
  content: @icon-locked;
}

.icon-login::before {
  content: @icon-login;
}

.icon-logout::before {
  content: @icon-logout;
}

.icon-mail-o::before {
  content: @icon-mail-o;
}

.icon-mail-open-o::before {
  content: @icon-mail-open-o;
}

.icon-mail-open::before {
  content: @icon-mail-open;
}

.icon-mail::before {
  content: @icon-mail;
}

.icon-comment::before {
  content: @icon-comment;
}

.icon-map::before {
  content: @icon-map;
}

.icon-menu::before {
  content: @icon-menu;
}

.icon-cadet-down-square::before {
  content: @icon-cadet-down-square;
}

.icon-message::before {
  content: @icon-message;
}

.icon-code::before {
  content: @icon-code;
}

.icon-minus-circle-o::before {
  content: @icon-minus-circle-o;
}

.icon-minus-circle::before {
  content: @icon-minus-circle;
}

.icon-minus-small::before {
  content: @icon-minus-small;
}

.icon-message-o::before {
  content: @icon-message-o;
}

.icon-map-o::before {
  content: @icon-map-o;
}

.icon-minus::before {
  content: @icon-minus;
}

.icon-navigation-45::before {
  content: @icon-navigation-45;
}

.icon-minus-square::before {
  content: @icon-minus-square;
}

.icon-note::before {
  content: @icon-note;
}

.icon-minus-square-o::before {
  content: @icon-minus-square-o;
}

.icon-notification-off-o::before {
  content: @icon-notification-off-o;
}

.icon-notification-off::before {
  content: @icon-notification-off;
}

.icon-notification::before {
  content: @icon-notification;
}

.icon-navigation-90::before {
  content: @icon-navigation-90;
}

.icon-pinpoint::before {
  content: @icon-pinpoint;
}

.icon-pinterest-circle::before {
  content: @icon-pinterest-circle;
}

.icon-pinterest::before {
  content: @icon-pinterest;
}

.icon-places::before {
  content: @icon-places;
}

.icon-plus-circle-o::before {
  content: @icon-plus-circle-o;
}

.icon-plus-circle::before {
  content: @icon-plus-circle;
}

.icon-plus-small::before {
  content: @icon-plus-small;
}

.icon-plus-square-o::before {
  content: @icon-plus-square-o;
}

.icon-plus-square::before {
  content: @icon-plus-square;
}

.icon-plus::before {
  content: @icon-plus;
}

.icon-pool::before {
  content: @icon-pool;
}

.icon-price-tag::before {
  content: @icon-price-tag;
}

.icon-price-tags::before {
  content: @icon-price-tags;
}

.icon-print::before {
  content: @icon-print;
}

.icon-receipt::before {
  content: @icon-receipt;
}

.icon-recycle::before {
  content: @icon-recycle;
}

.icon-refresh::before {
  content: @icon-refresh;
}

.icon-renew::before {
  content: @icon-renew;
}

.icon-reply-all::before {
  content: @icon-reply-all;
}

.icon-reply::before {
  content: @icon-reply;
}

.icon-save::before {
  content: @icon-save;
}

.icon-search::before {
  content: @icon-search;
}

.icon-selected::before {
  content: @icon-selected;
}

.icon-send::before {
  content: @icon-send;
}

.icon-setting::before {
  content: @icon-setting;
}

.icon-share-o::before {
  content: @icon-share-o;
}

.icon-share::before {
  content: @icon-share;
}

.icon-shield-o::before {
  content: @icon-shield-o;
}

.icon-shield::before {
  content: @icon-shield;
}

.icon-ship::before {
  content: @icon-ship;
}

.icon-shop::before {
  content: @icon-shop;
}

.icon-shopping::before {
  content: @icon-shopping;
}

.icon-shortlists::before {
  content: @icon-shortlists;
}

.icon-sort-down::before {
  content: @icon-sort-down;
}

.icon-sort-up::before {
  content: @icon-sort-up;
}

.icon-spa::before {
  content: @icon-spa;
}

.icon-spinner-1::before {
  content: @icon-spinner-1;
}

.icon-spinner-2::before {
  content: @icon-spinner-2;
}

.icon-spinner-3::before {
  content: @icon-spinner-3;
}

.icon-star-o::before {
  content: @icon-star-o;
}

.icon-star-rating-empty::before {
  content: @icon-star-rating-empty;
}

.icon-star-rating-filled::before {
  content: @icon-star-rating-filled;
}

.icon-star-rating-half::before {
  content: @icon-star-rating-half;
}

.icon-star::before {
  content: @icon-star;
}

.icon-stop::before {
  content: @icon-stop;
}

.icon-sun::before {
  content: @icon-sun;
}

.icon-sync::before {
  content: @icon-sync;
}

.icon-taxi::before {
  content: @icon-taxi;
}

.icon-tbb::before {
  content: @icon-tbb;
}

.icon-time-o::before {
  content: @icon-time-o;
}

.icon-time::before {
  content: @icon-time;
}

.icon-timer-o::before {
  content: @icon-timer-o;
}

.icon-timer::before {
  content: @icon-timer;
}

.icon-tool::before {
  content: @icon-tool;
}

.icon-transport::before {
  content: @icon-transport;
}

.icon-travlr::before {
  content: @icon-travlr;
}

.icon-trend-down::before {
  content: @icon-trend-down;
}

.icon-trend-flat::before {
  content: @icon-trend-flat;
}

.icon-trend-up::before {
  content: @icon-trend-up;
}

.icon-trip-add::before {
  content: @icon-trip-add;
}

.icon-trip::before {
  content: @icon-trip;
}

.icon-trophy::before {
  content: @icon-trophy;
}

.icon-tv::before {
  content: @icon-tv;
}

.icon-twitter::before {
  content: @icon-twitter;
}

.icon-unlocked-o::before {
  content: @icon-unlocked-o;
}

.icon-unlocked::before {
  content: @icon-unlocked;
}

.icon-unselected::before {
  content: @icon-unselected;
}

.icon-upload::before {
  content: @icon-upload;
}

.icon-user-add-o::before {
  content: @icon-user-add-o;
}

.icon-user-add::before {
  content: @icon-user-add;
}

.icon-user-group-o::before {
  content: @icon-user-group-o;
}

.icon-user-group::before {
  content: @icon-user-group;
}

.icon-user-o::before {
  content: @icon-user-o;
}

.icon-user::before {
  content: @icon-user;
}

.icon-voucher::before {
  content: @icon-voucher;
}

.icon-wedding::before {
  content: @icon-wedding;
}

.icon-whatsapp::before {
  content: @icon-whatsapp;
}

.icon-wifi::before {
  content: @icon-wifi;
}

.icon-youtube::before {
  content: @icon-youtube;
}

.icon-zoom-in::before {
  content: @icon-zoom-in;
}

.icon-zoom-out::before {
  content: @icon-zoom-out;
}

.icon-messenger::before {
  content: @icon-messenger;
}

.icon-park::before {
  content: @icon-park;
}

.icon-notification-o::before {
  content: @icon-notification-o;
}

